<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.reactnativemidnight">
    <application>
        <receiver android:name=".MidnightListener"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_TIME_TICK"/>
                <action android:name="android.intent.action.ACTION_TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.ACTION_TIME_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
